h1 {
	margin-top: 10px; 
	color: #65CBFD;
}

h5{
	color: #E10202;
}

.container{
	margin: 50px auto;
	width: 50%;
	text-align: center;
	border: 1px solid #E4E4E4;
}

img{
	width: 100%;
	height: auto;
	padding: 10px; 
}

/*p {
	padding-bottom: 0;
}
*/
/*.col-lg-4 {
	border: 1px solid black;
}*/

/*.col-lg-3 {
	border: 1px solid black;
}*/

.aboutmepics {
	width: auto;
	height: 180px;
}

#hobbies {
	margin-top: 25px;
	/*margin-left: 400px; */
}

#pics {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#intro {
	text-align: left;
	padding: 5px;
}

#me {
	width: 500px;
	height: auto;
	padding: 2px;
	border: 2px solid #DCECF2;
	margin: 20px auto;

}

.ex-pics {
	object-fit: contain;
}

.wrapper ul {
        display: inline-block;
    }





